// filter btn
.filter-btn {
  display: flex;
  align-items: center;
  gap: 14px;

  color: var(--filter-btn-color);
  background: var(--filter-btn-bg);
  padding: 6px 12px;
  border-radius: 6px;

  font-size: 1.4rem;
  font-weight: 700;
  line-height: 142.857%;

  &__icon {
    padding: 1px;
  }
}

// like button
.like-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 50%;
  box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

  &:not(&__liked) &__icon--liked {
    display: none;
  }

  &__liked &__icon {
    display: none;
  }

  &__icon--liked {
    margin-top: 7px;
  }
}
