@use "../abstracts";

$error-color: #ed4337;

.form {
  &:has(:invalid) &__submit-btn {
    opacity: 0.5;
    // pointer-events: none;
  }

  &__group {
    margin-top: 20px;

    &--inline {
      display: flex;
      align-items: center;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text-input {
      border-color: $error-color;
      background-color: rgba($color: $error-color, $alpha: 0.1);
    }

    .form__error,
    .form__input-icon-error {
      display: block;
    }

    .form__input-icon {
      display: none;
    }
  }

  &__text-input {
    display: flex;
    align-items: center;

    height: 50px;
    padding: 0 12px;
    border-radius: 10px;
    border: 1.5px solid #d2d1d6;

    &:focus-within {
      border-color: #77dae6;
    }
  }

  &__input {
    flex: 1;
    height: 100%;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;

    &-icon {
      padding-left: 12px;
    }

    &::placeholder {
      color: var(--form-placeholder-color);
    }
  }

  &__error {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 15px;
    color: $error-color;
    display: none;
  }

  &__input-icon-error {
    display: none;
    width: 18px;
    height: 18px;
    margin-left: 12px;
    animation: shake 0.5s;
  }

  &__pull-right {
    margin-left: auto;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;

    &-label {
      color: #9e9da8;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;

      @include abstracts.screen(md) {
        font-size: 1.4rem;
      }
    }
  }

  &__label {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;

    &--small {
      margin-bottom: 10px;
      font-size: 1.4rem;
      line-height: 142.857%;
    }
  }

  &__select-wrap {
    display: flex;
    align-items: center;
    height: 45px;
    border-radius: 6px;
    border: 1px solid #d2d1d6;
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 14px;
    min-width: var(--width, 98px);
    height: calc(100% - 10px);

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;

    cursor: pointer;

    @include abstracts.screen(xl) {
      flex: 1;
    }
  }

  &__select + &__select {
    border-left: 1px solid #d2d1d6;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;

    @include abstracts.screen(sm) {
      gap: 10px;
    }
  }

  &__tag {
    padding: 6px 12px;
    border-radius: 6px;

    color: #9e9da8;
    background: var(--form-tag-bg);

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;

    transition: color 0.2s;

    &:hover {
      color: var(--text-color);
    }
  }
}
