*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita", "sans-serif";
  color: var(--text-color);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

.icon {
  filter: var(--icon-color);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}
