@use "../abstracts";

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita", "sans-serif";
  color: var(--text-color);
  background: var(--body-bg);
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
button,
label,
input,
textarea,
select {
  padding: 0;
  font-family: inherit;
  color: inherit;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  background-color: transparent;
}

.icon {
  filter: var(--icon-color);
}

.container {
  @include abstracts.screen(sm) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}
